.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}
.botan{
  margin-top: 10px;
  margin-bottom: 10px;

}
.flex {
  display: flex;
  align-items: center;
}

.tweet-item {
  display: flex;
}

.tweets-photo {
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 10px;
}

.tweet-content {
  margin-top: 10px;
  flex-grow: 1;
}