@charset "utf-8";

.img{
  text-align:center;
  max-width: 800px;
  min-width: 240px;
}
a:visited{
  color: black;
}
a{
  color:black;
  text-decoration: none;
  text-align: center;
}
.row{
  margin:auto;
}
.slide-container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slide-wrapper {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}
.slide{
  width: 300px;
  object-fit:cover;
  border: 1px solid #ddd;
}
@keyframes slide-flow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.waku1 {
  border-top: #253958;
  border-bottom: #253958;
  border-left: #253958;
}
.waku2 {
  border-top: #253958;
  border-bottom: #253958;
  border-right: #253958;
}
body{
  background-color: #A09BD8;
}

.slideshow {
  position: relative;
  overflow: hidden;
}
input[name="slideshow"] {
  display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
  position: relative;
  background: #86c0de;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
.slideContents section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section img {
  max-width: 100%;
  height: auto;
  padding: 0 50px;
  box-sizing: border-box;
  vertical-align: middle;
}
@media (min-width: 520px) {
  .slideContents section img {
    aspect-ratio: 3 / 1;
    object-fit: cover;
  }
}
