img{
  text-align:center;
}
a:visited{
  color: black;
}
a{
  color:black;
  text-decoration: none;
  text-align: center;
}
.row{
  margin:auto;
}
.slide-container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slide-wrapper {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}
.slide{
  width: 300px;
  object-fit:cover;
  border: 1px solid #ddd;
}
@keyframes slide-flow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.waku1 {
  border-top: #253958;
  border-bottom: #253958;
  border-left: #253958;
}
.waku2 {
  border-top: #253958;
  border-bottom: #253958;
  border-right: #253958;
}
body{
  background-color: #A09BD8;
}