html{
  font-size: 16px;
  font-family: sans-serif;
}
.aikon{
  text-align: center;
}
.border-secondary{
  text-align: center;
  margin: 10px 0 10px 0;
  border-top: 2px solid #253958;
  border-bottom: 2px solid #253958;
}
.second{
  font-weight: normal;
  border-bottom: 2px solid #253958;
}
.third{
  font-weight: normal;
  text-align: right;
}
.copyright{
  background-color: #A09BD8;
  text-align: center;
}
main h1{
  margin: 60px 0 20px 0;
  border-bottom: 2px solid #253958;
  color: #253958;
}
main h2 {
  margin: 60px 0 20px 0;
  color: #253958;
}
main h4 {
  margin: 60px 0 20px 0;
  color: #253958;
}

