html{
  font-size: 16px;
  font-family: sans-serif;
}

main h1{
  margin: 60px 0 20px 0;
  border-bottom: 2px solid #253958;
  padding-bottom: 0 0 5px 0;
  color: #253958;
  font-size: 1.3rem;
}

.hero{
  text-align: center;
}
.copyright{
  background-color: #A09BD8;
  text-align: center;
}