.m1bk{
  background: #A09BD8;
}
.skinMenuHeader{
  padding: 5px 10px;
}
.profileUserNicknameArea{
  float: left;
  width: 150px;
  padding-left: 10px;
}
.profileUserNickname{
  padding-bottom: 4px;
}
.em{
  font-style: normal;
  font-weight: 700;
}
.userProfileImageArea{
  width: 90px;
  height: 90px;
  vertical-align:baseline;
}
ul {
  list-style: none;
}

.margin{
  margin-top: 15px;
}
@media only screen and (max-width: 767px) {
  img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px), print {
  img{
    width: 100%;
    height: auto;
  }
}
.parent {
  display: flex;
}
